@import 'normalize-rails';
@import 'font-awesome';

*, *:before, *:after {
  margin: 0; padding: 0;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
  background: #EDEDED;
}

header {
  background-image: linear-gradient(134deg, #3023AE 0%, #C86DD7 100%);
  color: white;
  padding: 20px 0;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.20);
  h1 {
    font-size: 80px;
    line-height: 94px;
    font-weight: 200;
    margin: 10px 0;
  }
  h2 {
    font-size: 36px;
    font-weight: 100;
    margin: 10px 0;
  }
  p {
    font-size: 18px;
  }
  hr {
    margin: 10px 0;
    height: 1px;
    background: rgba(white, 0.6);
    border: none;
    outline: none;
  }
}

footer {
  margin: 50px 0;
  text-align: center;
  .footer_link {
    text-decoration: none;
    font-size: 12px;
    color: #5E4F6E;
  }
}

.avatar-row {
  -webkit-user-select: none;
  user-select: none;
  padding-top: 5px;
  .avatar {
    width: 25px;
    height: 25px;
  }
}

.flash {
  height: 30px;
  background: #9cc3e2;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 30px;
  text-align: center;
  &.flash-alert {
    background: #e24d44;
  }
}

.text-center {
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  &.padded {
    padding: 0 20px;
  }

}

.actions {
  padding: 20px 0;
}

.btn {
  $bg-color: #FFFFFF;
  height: 42px;
  background: $bg-color;
  color: #8A8A8A;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);
  border-radius: 2px;
  text-align: center;

  &:hover {
    background: darken($bg-color, 3);
  }

  i.fa {
    margin-right: 10px;
  }

  &.btn-facebook {
    background: #3B5998;
    color: white;
    &:hover {
      background: darken(#3B5998, 3);
    }
  }

  &.with-icon {
    i.fa {
      float: left;
      height: 42px;
      width: 42px;
      background: rgba(black, 0.2);
      line-height: 42px;
    }
  }

  &.btn-whatsapp {
    background: #5CBE4A;
    color: white;
    &:hover {
      background: darken(#5CBE4A, 3);
    }

  }

  &.btn-rsvp {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    display: inline-block;
    &.btn-out {
      float: right;
    }
    &.active {
      color: white;

      &.btn-in {
        background: #7ED321;
      }
      &.btn-out {
        background: #D0021B;
      }
    }
  }
}

.marketing {
  padding: 35px 0px;
  h1 {
    font-size: 44px;
    margin: 0;
    color: #515151;
  }

  h2 {
    font-size: 22px;
    margin: 0;
    color: #515151;
  }
}

.rows {
  @extend .container;
  .row {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    &.full {
      padding: 0;
    }
    color: #797979;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    border-bottom: 1px solid #dddddd;

    .secondary {
      color: #aaaaaa;
      float: right;
    }

    &.empty {
      opacity: 0.6;
    }
    
    &.disabled {
      opacity: 0.5;
    }

    &.section {
      height: 35px;
      background: #9454C9;
      color: white;
      font-size: 18px;
      line-height: 35px;
    }
  }

  a.row {
    position: relative;
    padding-right: 6px + 16px;
    &:after {
      content: "\f054";
      @extend .fa;
      position: absolute;
      right: 3px;
      top: 0;
      height: 52px;
      line-height: 52px;
      font-size: 0.7em;

    }
  }
}


.toggle {
  $bg-color: white;
  height: 42px;
  background: $bg-color;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.50);

  color: #838383;
  text-align: center;

  &:hover {
    background: darken($bg-color, 3);
  }
  border-left: 1px solid #EDEDED;
  margin-left: -1px;

  &:first-child{
    border-left: none;
    margin-left: 0;
  }
  &.active {
    color: white;
    background: #7ED321;
  }
}

.attendees{
  margin-top: 9px;
  .toggle {
    text-align: center;
    width: 24.9%;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgba(#C2C2C2, 0.4);
  vertical-align: middle;
  display: inline-block;
}