@import 'normalize-rails';
@import 'font-awesome';

body {
  font-family: LucidaGrande;
  background: #EDEDED;
}

header {
  height: 44px;
  background: #212121;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 44px;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 22px;
    color: #FFFFFF;

  }

  position: relative;

  .action {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 44px;
    width: 44px;
    color: white;

  }
}

.text-center {
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.btn {
  $bg-color: #4A90E2;
  height: 42px;
  background: $bg-color;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 42px;
  text-decoration: none;
  display: block;

  &:hover {
    background: darken($bg-color, 3);
  }
}

.toggle {
  $bg-color: white;
  height: 42px;
  background: $bg-color;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  display: block;
  float: left;

  color: #838383;
  text-align: center;

  &:hover {
    background: darken($bg-color, 3);
  }
  &:last-child{
    border-left: 1px solid #979797;
    margin-left: -1px;
  }
  &.active {
    color: white;
    &.in {
      background: #7ED321;
    }
    &.out {
      background: #D0021B;
    }
  }
}
.half {
  width: 50%;
}

.marketing {
  padding: 35px 0px;
  h1 {
    font-size: 44px;
    margin: 0;
    color: #515151;
  }

  h2 {
    font-size: 22px;
    margin: 0;
    color: #515151;
  }
}

.rows {
  @extend .container;
  .row {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0 16px;
    overflow: hidden;
    &.full {
      padding: 0;
    }
    color: #797979;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    border-bottom: 1px solid #dddddd;

    .secondary {
      color: #aaaaaa;
      float: right;

    }

    &.section {
      height: 35px;
      background: #C2C2C2;
      color: white;
      font-size: 18px;
      line-height: 35px;
    }
  }
  a.row {
    position: relative;
    padding-right: 6px + 16px;
    &:after {
      content: "\f054";
      @extend .fa;
      //@extend .fa-chevron-right;
      position: absolute;
      right: 0;
      top: 0;
      height: 52px;
      line-height: 52px;
      font-size: 0.7em;

    }
  }
}