%header.text-center
  .container.padded
    %h1= t('.title')
    %h2!= t('.subtitle')

.container.padded.text-center
  %br
  %a.btn.btn-facebook{ href: sign_in_path}
    %i.fa.fa-facebook
    = t('facebook')
  %small
    %br
    = t('.footer')

