%header
  %h1 All In
  %a.action{ href: '#' }
    %i.fa.fa-user

.content
  .container.text-center
    .marketing
      %h1 All In
      %h2
        Event Managment
        %br
        Done Easy
    %a.btn{ href: '/auth/facebook/'}
      %i.fa.fa-facebook
      Sign in with Facebook
    %small to start
