%header
  %h1 All In
  %a.action{ href: '#' }
    %i.fa.fa-user

.content
  .container.text-center
    %h1 All In
    %h2 Event Managment Done Easy
    %a.btn{ href: '#'}
      %i.fa.fa-facebook
      Sign in with Facebook
    %small to start
